body{
  margin: 0;
  text-align: center; /*centers everything inside the parent element as long as there is an inline block or full width element*/
  font-family: 'Kumbh Sans', sans-serif;

}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 562.5%; /* target pixel size / 1 em (16)*/
  color: black;
  font-weight: normal;
  line-height: 2;
  /*width: 10px;
  margin: auto auto; centers an element vertically/horozontally*/
}
h2{
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 2.5rem;
  color: #d89cf6;
  /*width: 10px;
  margin: auto auto; centers an element vertically/horozontally*/
}
h3{
  font-family: 'Kumbh Sans', sans-serif;
  color: #d89cf6;
  /*width: 10px;
  margin: auto auto; centers an element vertically/horozontally*/
}
p{
  line-height: 2;
}
hr{
  border-color: grey;
  border-style: dotted none none none;
  border-width: 5px;
  width: 5%;
}
a{
  font-family: 'Kumbh Sans', sans-serif;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
}
a:hover{
color: #EAF6F6;
}
table.center{

}
tbody.center{

}
.profile{
  width: 50%;
  margin: auto;
}
.footer-link{
  font-family: 'Kumbh Sans', sans-serif;
  color: #481380;
  padding: 10px 10px 10px 10px;
}

.top-container{
  background-color: #d89cf6;
  position: relative;
  padding-top: 100px;

}
  .middle-container{
margin: 100px auto auto auto;
  }
.bottom-container{
background-color: #D89CF6;
padding:50px 0 20px;
}
.top-cloud{
position: absolute;
right: 300px;
top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.ux{
  text-decoration: underline;
}
.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
text-align: left;
line-height: 2;
}
.skill-row2{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: right;
  line-height:2;
}
.code-img{
  width: 25%;
  float:left;
  margin-right: 50px;
  margin-top: 60px;
}
.design-img{
  width:25%;
  float:right;
  margin-left: 50px;
  margin-top: 60px;
}
.code-rating{

  margin-left: 350px;
}
.code-rating-heading{
  margin-left: 357px;
}
.design-rating{

}
.design-rating-heading{
  margin-left:10px;
}
.contactButton {
  border: none;
  color: black;
  padding: 20px;
  background-color: #D89CF6;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Kumbh Sans', sans-serif;
     font-size: 40px;
     font-weight: 100;
  border: solid #337FED 1px;
}

.contactButton:hover {
   background-color: yellow;
   border-radius: 20px;
   text-decoration: none;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  margin: 20px 0 20px 0;
}
